david.png:
	- 'Tropický rok - modify(2019 * 366 - 365 * 1,25) = 2019 * 366 - 365 * 1,25)'
	- 'Protože jsi mrdka'
	- 'Ne'
	- 'Dyť ty víš'
	- 'Mrdka práce'
	- 'Hlavně, že ses nepochcal'
	- 'Akorát, že vůbec'
	- 'Ty seš taková mrdka'
	- 'Sobota, hloupej, kdo se nemotá'
filip.png:
	- 'Na to mrdám'
	- 'Někdy mě překvapuje jakou píčovinu dokážeš vymyslet'
	- 'Na stage to fungovalo. Dokud to nikdo nepoužíval'
kafu.png:
	- 'Hafo'
	- 'David je můj největší fanoušek'
kuba.png:
	- 'Milan z Kaznějova to chce takhle!'
	- 'Honza z Prahy to chce předělat'
	- 'Tohle je humpolácké řešení'
	- 'Musíme to vyhezčit'
	- 'btw. kdy bude toto nasazeno na prod?'
	- 'Edge case'
pavel.png:
	- 'Jsi dospělej, dělej si co chceš'
	- 'Mrdat'
	- 'Co chceš od života víc'
tomas.png:
	- 'Naše společná chyba'
tydzej.png:
	- 'Že jsem se dneska budil'
	- 'Krásnej den na to viset někde na stromě'
lukas.png:
	- 'Mícháš jablka s ovocem'
	- 'ahoj :_D'
