david.png:
	- 'Tropický rok - modify(2019 * 366 - 365 * 1,25) = 2019 * 366 - 365 * 1,25)'
	- 'Protože jsi mrdka'
	- 'Ne'
filip.png:
	- 'Na to mrdám'
kafu.png:
	- 'Hafo'
	- 'David je můj největší fanoušek'
kuba.png:
	- 'Milan z Kaznějova to chce takhle!'
	- 'Honza z Prahy to chce předělat'
	- 'Tohle je humpolácké řešení'
	- 'Musíme to vyhezčit'
pavel.png:
	- 'Jsi dospělej, dělej si co chceš'
tomas.png:
	- 'Naše společná chyba'
